.Contact {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 300px auto;
  align-items: center;
  padding: 20px;
}

@media (max-width: 650px) {
  .Contact {
    display: flex;
    flex-direction: column;
  }
}

.contactRule {
}

.contactName {
  grid-row: 1/3;
  font-weight: bold;
}