.Contact {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 300px auto;
  align-items: center;
  padding: 20px;
}

.contactRule {
  width: 75%;  
}

.contactName {
  grid-row: 1/3;
}